.banner{
    height: 98vh;
    background-image: url('../../../Assets/Image/bannerPhoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.custom-bg {
    background-color: rgba(0, 0, 0,0.5);
}